@import "tailwindcss";

@theme {
  --color-dark-darkbg: hsl(0, 2%, 0%);
  --color-dark-bg: hsl(0, 2%, 5%);
  --color-dark-lightbg: hsl(0, 2%, 10%);
  --color-dark-text: hsl(0, 2%, 95%);
  --color-dark-subtext: hsl(0, 2%, 70%);

  --color-blood-red: hsl(352, 82%, 38%);
  --color-clown-red: hsl(355, 77%, 50%);
}

body {
  background: var(--color-dark-bg);
  color: var(--color-dark-text);
}
